<!DOCTYPE html>
<html>
<head>
	<title>dada</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>

<p><a href="/">home</a></p>
<p><h4>iPhone</h4></p>

{% for _, value in ipairs(iphonemalf) do %}
	<p><a href="/order/malf?brandid=1&malfid={{value.type}}">{{value.malfunction}}</a></p>
{% end %}

<p><h4>iPad</h4></p>
{% for _, value in ipairs(ipadmalf) do %}
	<p><a href="/order/malf?brandid=1&malfid={{value.type}}">{{value.malfunction}}</a></p>
{% end %}

<form action="/order/detail" method="post">
model:<br>
<input type="text" name="model">
<br>
color:<br>
<input type="text" name="color">
<br>other<br>
<input type="text" name="other">
<br><br>
<input type="submit" value="Submit">
</form> 

<p>If you click "Submit", the form-data will be sent to a page called "action_page.php".</p>

<p>The first name will not be submitted, because the input element does not have a name attribute.</p>

</body>
</html>