<!DOCTYPE html>
<html>
<head>
	<title>dada</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>

<p><a href="/">home</a></p>
<p><h4>iPhone</h4></p>
<p><a href="/order/malf?brandid=1">屏幕</a></p>
<p><a href="/order/malf?brandid=1">摄像头</a></p>
<p><a href="/order/malf?brandid=1">按键</a></p>
<p><a href="/order/malf?brandid=1">电池</a></p>
<p><a href="/order/malf?brandid=1">声音</a></p>
<p><a href="/order/malf?brandid=1">外壳边框</a></p>
<p><a href="/order/malf?brandid=1">感应</a></p>
<p><a href="/order/malf?brandid=1">信号</a></p>
<p><a href="/order/malf?brandid=1">其他</a></p>
<p><h4>iPad</h4></p>
<p><a href="/order/malf?brandid=2">iPad</a></p>

<form action="model" method="post">
model:<br>
<input type="text" name="model">
<br>
color:<br>
<input type="text" name="color">
<br>other<br>
<input type="text" name="other">
<br><br>
<input type="submit" value="Submit">
</form> 

<p>If you click "Submit", the form-data will be sent to a page called "action_page.php".</p>

<p>The first name will not be submitted, because the input element does not have a name attribute.</p>

</body>
</html>