<!DOCTYPE html>
<html>
<head>
	<title>dada</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>

<form action="model" method="post">
model:<br>
<input type="text" name="model">
<br>
color:<br>
<input type="text" name="color">
<br>other<br>
<input type="text" name="other">
<br><br>
<input type="submit" value="Submit">
</form> 

<p>If you click "Submit", the form-data will be sent to a page called "action_page.php".</p>

<p>The first name will not be submitted, because the input element does not have a name attribute.</p>

</body>
</html>